<!DOCTYPE html>
<html>
<head>
    <title>Login System Mockup</title>
</head>
<body>
    <div>
        <p>
            {% if g.user %}
                {% if g.user['locale'] == "fr" %}
                    Vous êtes connecté en tant que {{ g.user['name'] }}.
                {% else %}
                    You are logged in as {{ g.user['name'] }}.
                {% endif %}
            {% else %}
                {% if g.user and g.user['locale'] == "fr" %}
                    Vous n'êtes pas connecté.
                {% else %}
                    You are not logged in.
                {% endif %}
            {% endif %}
        </p>
    </div>
</body>
</html>
